@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        font-family: 'Roboto', sans-serif;
    }
}

@layer components {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animation-delay-6000 {
        animation-delay: 6s;
    }
    .btn{
        @apply bg-sky-500 text-white px-3 py-2 rounded-md hover:brightness-110 shadow-lg shadow-sky-200
    }
}


#root {
    max-width: 1700px;
    margin: auto;
}

.reveal {
    animation: reveal 200ms ease-out;
}

@keyframes reveal {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}